#card-list {
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;

    .controller {

      .card-list {

        &__title {
          font-size: 28px;
          color: #17171B;
          margin-bottom: 30px;
        }

        &__list {
          display: flex;
          flex-wrap: wrap;
          // max-width: 33%;
          justify-content: space-between;
          align-items: flex-start;

          &__item {
            width: calc(33% - 20px);
          }
        }

        
      }
    }
  }
}